<app-toolbar [mode]="1">Settings</app-toolbar>

<div class="main-wrapper">
  <button
    *ngIf="signedIn$ | async"
    class="block"
    mat-flat-button
    color="warn"
    (click)="signOut()"
  >
    Sign Out
  </button>

  <a
    *ngIf="!(signedIn$ | async)"
    routerLink="/login"
    mat-flat-button
    color="primary"
    class="block"
    >Sign In</a
  >
  <a
    *ngIf="signedInEmail$ | async"
    routerLink="/register"
    mat-flat-button
    color="primary"
    class="block"
    >Sign Up</a
  >
</div>
