<app-toolbar [mode]="1">Sign In</app-toolbar>

<div class="main-wrapper">
  <form [formGroup]="loginGroup">
    <mat-form-field appearance="outline" class="block">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="block">
      <mat-label>Password</mat-label>
      <input matInput formControlName="pwd" type="password" />
    </mat-form-field>

    <button
      class="block"
      mat-flat-button
      color="primary"
      [disabled]="loginGroup.invalid"
      (click)="login()"
    >
      Sign In
    </button>
    <a routerLink="/register" mat-flat-button color="" class="block">
      Sign Up
    </a>
    <button (click)="anon()" mat-flat-button color="primary" class="block">
      Log in temporarly without account
    </button>
  </form>
</div>
