<app-toolbar [mode]="1">Sign Up</app-toolbar>

<div class="main-wrapper">
  <form [formGroup]="registerGroup">
    <mat-form-field appearance="outline" class="block">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="block">
      <mat-label>Password</mat-label>
      <input matInput formControlName="pwd" type="password" />
    </mat-form-field>

    <button
      class="block"
      mat-flat-button
      color="primary"
      [disabled]="registerGroup.invalid"
      (click)="register()"
    >
      Sign Up
    </button>
    <a routerLink="/login" mat-flat-button color="primary" class="block">
      Sign In
    </a>
  </form>
</div>
